// Definiraj varijable za boje
$black: #000;
$red: #f00;
$white: #fff;

.card {
  width: 200px;
  height: 300px;
  perspective: 1000px;
  margin: 10px;
  // Dodaj neki stil za karticu
  border: 2px solid $white;
  border-radius: 10px;
}

.card-front,
.card-back {
  width: 100%;
  height: 100%;
  position: absolute;
  backface-visibility: hidden;
  transition: transform 0.5s;
  margin-bottom: 20px;
}

.card:hover .card-front {
  transform: rotateY(180deg);
}

.card:hover .card-back {
  transform: rotateY(0deg);
}

.card-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.card-title {
  text-align: center;
  margin-top: 10px;
  // Dodaj neki stil za naslov
  font-family: Arial, sans-serif;
  font-weight: bold;
  // Promijeni boju slova u bijelu
  color: $white;
}

.card-button {
  display: block;
  margin: 10px auto;
  padding: 5px 10px;
  // Promijeni boju dugmeta
  background-color: $red;
  // Promijeni boju slova u bijelu
  color: $white;
  border: none;
  cursor: pointer;
  // Dodaj neki stil za dugme
  border-radius: 5px;
}

.card-back {
  transform: rotateY(180deg);
  text-align: center;
  // Promijeni boju pozadine
  background-color: $black;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.card-recipe {
  font-size: 14px;
  width: 80%;
}
.recipes {
  display: flex;
  align-items: center;
  justify-content: space-between;
  & > p {
    color: white;
  }
  &-red {
    display: flex;
    align-items: center;
    justify-content: space-between;
    // Koristi varijablu za boju
    background-color: $red;
  }
  & p {
    margin-right: auto;
  }
  & div {
    margin-left: auto;
  }
  &-plus {
    // Koristi varijablu za boju
    background-color: $red;
    // Promijeni boju slova u bijelu
    color: $white;
  }
  &-minus {
    // Promijeni boju dugmeta
    background-color: $black;
    // Promijeni boju slova u crvenu
    color: $red;
  }
}
